.sec1{
    background-color: #28293E;
}
.sec2{
    background-color: #F9E5DA;
}
.sec3{
    background-color: #28293E;
}

.sec4{
    background-color: #F9E5DA;
}
.sec11{
    background-color: #F9E5DA;
}
.testimonial{
    background-color: #FDF0E9;
    ;
}

.color{
    background-color: #FDF0E9;
    ;
}


.contact{
 background-color: #28293E;

}


.form-1{
    background-color: white;
    border-radius: 2.5%;
}
.logos {
    background-color: tomato;
    border-radius: 100%;
    padding: 13px 10px;
}

.gs{
    background-color: #F9E5DA;
}













.orange-text{
    color: #EF6D58;
}
.dark-text{
    color: #391400;
}